
<br> <br> <br>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.pinimg.com/originals/16/88/f5/1688f5d03562d4b44313534b28ff98b7.jpg" class="d-block w-100" alt="...">
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>Türkiyenin Oto Kiralama Firması</h1>
          <p>
           Uzun Dönem Kiralama'da Özel Toplu Alım İndirimleri
          </p>
          <p>
            <a class="btn btn-lg btn-primary" href="#" role="button"
              >Fırsatlara Göz At</a
            >
          </p>
        </div>
      </div>
    </div>
  

    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/1104768/pexels-photo-1104768.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="d-block w-100" alt="...">

      <div class="container">
        <div class="carousel-caption">
          <h1>Biz Bir Şirketten Daha Fazlasıyız</h1>
          <p>
            Bizim için tek önemli olan sizin can güvenliğinizdir. bu yüzden arablarımız her zaman en son teknolojilerle donatılıp sürekli bakımı yapılmaktadır.
          </p>
          <p>
            <a routerLink="contact" class="btn btn-lg btn-primary" href="#" role="button"
              >Daha Fazla Bilgi</a
            >
          </p>
        </div>
      </div>
    </div>
    
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/1075947/pexels-photo-1075947.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="d-block w-100" alt="...">

      <div class="container">
        <div class="carousel-caption text-right">
          <h1>Arabalarımıza Göz Atmak ister misiniz?</h1>
          <p>
           Her türlü bütceye uygun ve 30'u gecik arabalarımızda konfor ve teknolojiyi hisedeceksiniz.
          </p>
          <p>
            <a class="btn btn-lg btn-primary" routerLink="/cars" role="button"
              >Araba Listesi</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<main role="main">
  

  <!-- Marketing messaging and featurettes
    ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img
          class="rounded-circle"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd7GwhmGG4K_dkBlAtPOafrAoGZmKW5bz8Qw3kfznw2vbOiNk04BUtah3wJCZMmgAMIfM&usqp=CAU"
          alt="Generic placeholder image"
          width="140"
          height="140"
          
        />
        <h2>Araba Listesi</h2>
        <p>
          Düzenli bakımını yaptığımız ve sizin güvenliğiniz, konforunuz için en
          son teknoloji ile donatığımız arabaları size sunmaktan gurur duyarız .
        </p>
        <p>
          <a class="btn btn-secondary" routerLink="/cars" role="button" routerLink="cars"
            >Araba Listesi &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="rounded-circle"
          src="https://images.freeimages.com/images/premium/large-thumbs/3937/39374870-cartoon-briefcase.jpg"
          alt="Generic placeholder image"
          width="140"
          height="140"
        />
        <h2>Evraklar Ve Şartlar</h2>
        <p>
          Araba kiralamak için getirmeniz gereken bazı evraklar ve uymanız
          gereken şartlar var. Biliyoruz sizin de sevmediğiniz gibi biz de bu
          resmi işleri sevmiyoruz. Küçük bir spoiler veriyim, yaşınız 18'den
          büyük olmalı :)
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button"
            >Detaylara Git &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="rounded-circle"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHgYZLFYKUKzufLc2lzvaHfgpoJHcNpPK26jezuANhMJdo7ULlFggyzGBSd9WMXZrsE4A&usqp=CAU"
          alt="Generic placeholder image"
          width="140"
          height="140"
        />
        <h2>Bize Ulaşın</h2>
        <p>
          Daha ikna olmadınız mı, aklınızda soru işareti mi kaldı? Daha fazla
          bilgi ve sorularınız için bize ulaşabilirsiniz.
        </p>
        <p>
          <a routerLink="contact" class="btn btn-secondary" href="#" role="button"
            >Bize Ulaşın &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
         Size Güveniyoruz 
          <span class="text-muted">ve fazla evraklarla kafanızın karışmasını istemiyoruz</span>
        </h2>
        <p class="lead">
         Biz bu yola çıkarken karşılıklı güvenin çok önemli olduğunu bilerek çıktık ve bu yüzden 
         sizi korkutan,tedirgin eden evrakları imzalamanızı istemiyoruz.
         İmzalayacağınız bütün belgelerde aklınızda hiçbir soru işareti kalmayacağını temenni edeirz.
        </p>
      </div>
      <div class="col-md-5">
        <img
          class="featurette-image img-fluid mx-auto"
          src="https://n11scdn.akamaized.net/a1/org/otomotiv-motosiklet/anahtarlik/fiat-egea-500x-anahtar-kilifi-slikon-anahtarlik__1179662345493900.jpeg"
          data-src="holder.js/500x500/auto"
          alt="Generic placeholder image"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">
         Teknoloji ve Konforu 
          <span class="text-muted">Arabalarımızla buluşturuyoruz</span>
        </h2>
        <p class="lead">
         Arabalarımıza bindiğiniz zaman, ilk farkedeceğiniz teknoloji ve konforun varlığı olacaktır.
         Siz yolculuğunuzda yolun tadını, arabanın tadını çıkarın diye ekiplerimiz var gücüyle çalışmaktadır. 
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img
          class="featurette-image img-fluid mx-auto"
          src="https://www.visteon.com/wp-content/uploads/2020/04/ic1-autonomous-cluster-1.png"
          data-src="holder.js/500x500/auto"
          alt="Generic placeholder image"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          Güvenliğiniz Bizim İçin <span class="text-muted">Önemli.</span>
        </h2>
        <p class="lead">
         Şirketimiz de güvenliğiniz için çok çalışıyoruz. Arabalarımızı düzenli bir şekilde bakımını yaptırıyor ve bunun sonucunda çıkan sorunları düzeltiyoruz.
         Bizi tercih ettiğiniz için sizlere teşekkür ederiz.

        </p>
      </div>
      <div class="col-md-5">
        <img
          class="featurette-image img-fluid mx-auto"
          src="https://cdn.dribbble.com/users/992274/screenshots/11279324/02_kit8-net.png"
          data-src="holder.js/500x500/auto"
          alt="Generic placeholder image"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->

  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Sayfanın başına git</a></p>
    <p>
      &copy; 2020-2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot;
      <a href="#">Terms</a>
    </p>
  </footer>
</main>


