body{
    margin-top: 100px !important;
}
.btn {
    background-color: #F48224;
    color: #fff;
    font-size: 17px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    border-radius: 0 !important;
    border: none;
    transition:all 0.3s ease 0s;
}
.btn:hover,
.btn.active:hover{
    color: #ffffff;
}
.btn:before{
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    background-color:#2E0014;
    width: 50%;
    height: 3px;
    transition:all 0.9s ease 0s;
}
.btn:after{
    content: "";
    position: absolute;
    bottom: -7px;
    right: 0;
    background-color:#2E0014;
    width: 50%;
    height: 3px;
    transition:all 0.9s ease 0s;
}
.btn:hover:before,
.btn:hover:after,
.btn.active:before,
.btn.active:after{
    width: 100%;
}

@media screen and (max-width: 575px){
    .btn{
        margin-bottom: 50px !important;
    }
}