<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
  integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
  crossorigin="anonymous"
/>

<!--footer starts from here-->
<footer class="footer">
  <div class="container bottom_border">
    <div class="row">
      <div class="col-sm-4 col-md col-sm-4 col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Bize Ulaşın</h5>
        <!--headin5_amrc-->
        <p class="mb10">
          Uydukent Orhangazi Mahallesi 1771.sokak 6/A Selcuklu Apt. No:4
        </p>
        <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35</p>
        <p><i class="fa fa-phone"></i> 05415526973</p>
        <p><i class="fa fa fa-envelope"></i> ahmetfurkangazioglu@gmail.com</p>
      </div>

      <div class="col-sm-4 col-md col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Hızlı Link</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li><a routerLink="contact">Haritada Gör</a></li>
          <li><a routerLink="contact">Bize Ulaşın</a></li>
          <li><a routerLink="login">Üye Ol</a></li>
          <li><a routerLink="home">Ana Sayfa</a></li>
          <li><a routerLink="cars">Araba Listesi</a></li>
          <li><a routerLink="about">Hakkımızda</a></li>
        </ul>
        <!--footer_ul_amrc ends here-->
      </div>

      <div class="col-sm-4 col-md col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Yardım</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li><a href="http://webenlance.com">Sıkça Sorulan Sorular</a></li>
          <li>
            <a href="http://webenlance.com"
              >Gizlilik ve Kişisel Verilerin Korunması</a
            >
          </li>
          <li><a href="http://webenlance.com">Şartlar Ve Evraklar</a></li>
        </ul>
        <!--footer_ul_amrc ends here-->
      </div>

      <div class="col-sm-4 col-md col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Bizi Takip Edin</h5>
        <!--headin5_amrc ends here-->

        <ul class="footer_ul2_amrc">
          <li>
            <a href="https://twitter.com/npahmetfurkan"
              ><i class="fab fa-twitter fleft padding-right"></i>
            </a>
            <p>
              Daha fazlası için bizi twitterdan takip edin...<a
                href="https://twitter.com/npahmetfurkan"
                >https://www.twitter.com/</a
              >
            </p>
          </li>
          <li>
            <a href="https://www.facebook.com/ahmet.gazioglu.9"
              ><i class="fab fa-facebook-f fleft padding-right"></i>
            </a>
            <p>
              Daha fazlası için bizi facbookdan takip edin...<a
                href="https://www.facebook.com/ahmet.gazioglu.9"
                >https://www.facbook.com/</a
              >
            </p>
          </li>
          <li>
            <a href="https://www.instagram.com/ahmetfurkangazioglu/"
              ><i class="fab fa-instagram fleft padding-right"></i>
            </a>
            <p>
              Daha fazlası için bizi instagramdan takip edin...<a
                href="https://www.instagram.com/ahmetfurkangazioglu/"
                >https://www.instagram.com/</a
              >
            </p>
          </li>
        </ul>
        <!--footer_ul2_amrc ends here-->
      </div>
    </div>
  </div>

  <div class="container">
    <ul class="foote_bottom_ul_amrc">
      <li><a routerLink="home">Ana Sayfa</a></li>
      <li><a routerLink="about">Hakkımızda</a></li>
      <li><a routerLink="cars">Araba Listesi</a></li>
      <li><a routerLink="contact">Bize Ulaşın</a></li>
    </ul>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">
      TÜM HAKLARI SAKLIDIR - 2020 | WEB TASARIM VE WEB YAZILIM
      <a href="#">AFG WEB</a>
    </p>

    <ul class="social_footer_ul">
      <li>
        <a href="https://www.facebook.com/ahmet.gazioglu.9"
          ><i class="fab fa-facebook-f"></i
        ></a>
      </li>
      <li>
        <a href="https://twitter.com/npahmetfurkan"
          ><i class="fab fa-twitter"></i
        ></a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/ahmet-furkan-gazio%C4%9Flu-a97086204/"
          ><i class="fab fa-linkedin"></i
        ></a>
      </li>
      <li>
        <a href="https://www.instagram.com/ahmetfurkangazioglu/"
          ><i class="fab fa-instagram"></i
        ></a>
      </li>
    </ul>
    <!--social_footer_ul ends here-->
  </div>
</footer>
