<br> <br>
<div class="card">
    <br>
<div class="row">
<div class="col-md-6">
    <div class="vr"></div>
    <div style="color: rgb(215, 137, 42);" > <h5> &nbsp;&nbsp; Üyelik Bilgilerim</h5> </div>
<form class="row g-4">
   
    <div class="col-md-6">
        
      <label for="inputFİrstName" class="form-label">Adınız</label>
      <input type="text" class="form-control form-control-lg" id="inputFİrstName">
    </div>
    <div class="col-md-6">
      <label for="inputLastName" class="form-label">Soyadınız</label>
      <input type="text" class="form-control form-control-lg" id="inputLastName">
    </div>
    <div class="col-12">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control form-control-lg" id="inputEmail" placeholder="Email adresi">
    </div>
    <div class="col-12">
      <label for="inputPhoneNumber" class="form-label">Telefon Numarası</label>
      <input type="text" class="form-control form-control-lg" id="inputPhoneNumber" placeholder="Telefon numaranız">
    </div>
   
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>

</div>


<div class="col-md-6">
    <div style="color: rgb(215, 137, 42);" > <h5> Şifre Güncelleme </h5> </div>
    <form>
        <div class="row mb-4">
            
          <label for="inputEmail3" class="form-label">Şu Anki Şifre</label>
          <div class="col-sm-10">
            <input type="password" class="form-control form-control-lg" id="inputEmail3">
          </div>
        </div>
        <div class="row mb-4">
          <label for="inputPassword3"class="form-label">Yeni Şifre</label>
          <div class="col-sm-10">
            <input type="password" class="form-control form-control-lg" id="inputPassword2">
          </div>
        </div>
        <div class="row mb-4">
            <label for="inputPassword3" class="form-label">Yeni Şifre Tekrar</label>
            <div class="col-sm-10">
              <input type="password" class="form-control form-control-lg" id="inputPassword3">
            </div>
          </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
      
</div>

</div>
</div>